[Desktop Entry]
Type=Application
Version=1.0
Name=brainstack
Comment=Intuitive task management
Path=/opt/brainstack
Exec=bin/brainstack
Icon=brainstack
